In [2]:
import pandas as pd

In [7]:
Pat =[5, 4, 4, 3, 9, 4]
Jack =[ 4, 8, 7, 5, 1, 5]
Alex = [9, 9, 8, 10, 4, 10]

scores=Pat+Jack+Alex

names=(["Pat"]*len(Pat)+["Jack"]*len(Jack)+["Alex"]*len(Alex))

anova_ds=pd.DataFrame({"names":names,"scores":scores})

anova_ds.head()

  names  scores
0   Pat       5
1   Pat       4
2   Pat       4
3   Pat       3
4   Pat       9

In [8]:
anova_ds.groupby("names").mean()

         scores
names
Alex   8.333333
Jack   5.000000
Pat    4.833333

In [6]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [10]:
model = ols('scores ~ names',data=anova_ds).fit()
table = sm.stats.anova_lm(model)
print(table)

            df     sum_sq    mean_sq         F    PR(>F)
names      2.0  46.777778  23.388889  4.488273  0.029668
Residual  15.0  78.166667   5.211111       NaN       NaN